In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 60)

In [2]:
df = pd.read_csv(r'src\fraud_challenge_150k.csv')
df.head()

,account_age_days,transaction_amt,transaction_adj_amt,historic_velocity,ip_address,user_agent,email_domain,phone_number,billing_city,billing_postal,billing_state,card_bin,currency,cvv,signature_image,transaction_type,transaction_env,EVENT_TIMESTAMP,applicant_name,billing_address,merchant_id,locale,tranaction_initiate,days_since_last_logon,inital_amount,EVENT_LABEL
0,3371.0,2167.0,56.0,2572.0,154.68.49.124,Opera/9.81.(Windows NT 10.0; ht-HT) Presto/2.9...,perez-garza.com,878-111-5140,Woodsburgh,96336.0,California,40771.0,cad,D,F,U,X,2020-12-29 09:05:51,Linda Wright,4684 Sharon Ranch,066-82-8795,niu_NZ,O,59.0,13646.0,legit
1,2714.0,2045.0,48.0,4517.0,39.131.125.85,Opera/9.76.(X11; Linux i686; mi-NZ) Presto/2.9...,mcneil-ortega.com,(002)736-0139,West Kevin,78083.0,Florida,24480.0,cad,X,X,H,W,2021-06-22 18:05:06,Terri Rivera,7642 Allison Ramp,669-99-9459,apn_IN,J,0.0,11930.0,legit
2,6987.0,2892.0,61.0,5007.0,166.245.194.83,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.6.20) G...,davis-calderon.com,(983)585-2863x652,Lorichester,83236.0,Utah,37778.0,cad,X,Q,X,X,2021-05-10 13:48:38,Sarah Gray,4948 Lisa Passage,086-41-1624,dv_MV,T,83.0,7412.0,legit
3,2712.0,3040.0,28.0,6022.0,100.1.217.216,Mozilla/5.0 (Macintosh; Intel Mac OS X 10 9_3 ...,rose-lee.org,+1-678-897-3420x60738,Stephenmouth,78364.0,Virginia,55790.0,usd,G,G,C,N,2021-03-11 07:36:40,Valerie Jenkins,1616 Little Camp,669-97-4021,byn_ER,M,24.0,4623.0,legit
4,3598.0,2976.0,66.0,2600.0,113.156.65.245,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,nash.net,(013)204-1766x92641,New Brianmouth,77499.0,South Carolina,37370.0,cad,X,F,F,G,2021-03-27 06:13:35,Amy Coleman,149 Harris Rapid,088-21-6329,the_NP,K,21.0,1905.0,legit

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   account_age_days       149892 non-null  float64
 1   transaction_amt        149870 non-null  float64
 2   transaction_adj_amt    149886 non-null  float64
 3   historic_velocity      149885 non-null  float64
 4   ip_address             149873 non-null  object
 5   user_agent             149887 non-null  object
 6   email_domain           149910 non-null  object
 7   phone_number           149873 non-null  object
 8   billing_city           149884 non-null  object
 9   billing_postal         149876 non-null  float64
 10  billing_state          149887 non-null  object
 11  card_bin               149872 non-null  float64
 12  currency               149892 non-null  object
 13  cvv                    149877 non-null  object
 14  signature_image        149895 non-null  object
 15  transaction_type       149884 non-null  object
 16  transaction_env        149877 non-null  object
 17  EVENT_TIMESTAMP        149888 non-null  object
 18  applicant_name         149857 non-null  object
 19  billing_address        149866 non-null  object
 20  merchant_id            149893 non-null  object
 21  locale                 149866 non-null  object
 22  tranaction_initiate    149874 non-null  object
 23  days_since_last_logon  149864 non-null  float64
 24  inital_amount          149872 non-null  float64
 25  EVENT_LABEL            150000 non-null  object
dtypes: float64(8), object(18)
memory usage: 29.8+ MB

In [4]:
df.describe()

,account_age_days,transaction_amt,transaction_adj_amt,historic_velocity,billing_postal,card_bin,days_since_last_logon,inital_amount
count,149892.000000,149870.000000,149886.000000,149885.000000,149876.000000,149872.000000,149864.000000,149872.000000
mean,4645.751995,2521.458944,54.202434,4702.200033,50190.088160,41837.521512,49.866392,7998.025275
std,1153.816155,604.524161,10.070401,1188.476704,28378.078852,10080.587192,29.204766,4047.071560
min,1.000000,5.000000,1.000000,50.000000,503.000000,6040.000000,0.000000,1000.000000
25%,3824.000000,2103.000000,48.000000,3872.000000,25314.000000,35386.000000,24.000000,4487.000000
50%,4667.000000,2544.000000,55.000000,4730.000000,50117.000000,42086.000000,50.000000,8002.000000
75%,5476.000000,2951.000000,61.000000,5548.000000,74338.000000,47374.000000,75.000000,11494.000000
max,9119.000000,4999.000000,99.000000,9999.000000,99950.000000,67639.000000,100.000000,15000.000000

In [5]:
df.describe(include='object').T

,count,unique,top,freq
ip_address,149873,13668,112.34.150.175,37
user_agent,149887,8829,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,66
email_domain,149910,7143,dawson.com,71
phone_number,149873,12216,292-207-5992,48
billing_city,149884,9187,Lake Bethanystad,52
billing_state,149887,50,Indiana,8813
currency,149892,3,cad,113751
cvv,149877,26,D,23230
signature_image,149895,26,H,17340
transaction_type,149884,26,I,16194
transaction_env,149877,26,D,22640
EVENT_TIMESTAMP,149888,149553,2021-07-06 23:21:40,2
applicant_name,149857,97403,Michael Smith,68
billing_address,149866,149860,209 Benjamin Streets,2
merchant_id,149893,149883,353-07-5210,2
locale,149866,293,csb_PL,895
tranaction_initiate,149874,26,N,5936
EVENT_LABEL,150000,2,legit,141836

In [6]:
df.nunique()

account_age_days           6476
transaction_amt            3692
transaction_adj_amt          92
historic_velocity          6758
ip_address                13668
user_agent                 8829
email_domain               7143
phone_number              12216
billing_city               9187
billing_postal            11322
billing_state                50
card_bin                   6500
currency                      3
cvv                          26
signature_image              26
transaction_type             26
transaction_env              26
EVENT_TIMESTAMP          149553
applicant_name            97403
billing_address          149860
merchant_id              149883
locale                      293
tranaction_initiate          26
days_since_last_logon       101
inital_amount             14001
EVENT_LABEL                   2
dtype: int64

In [7]:
def missing_values(df):
    dic = {'ColumnName':[], 'MissingValues':[], 'Percentage':[]}
    for col in df.columns:
        dic['ColumnName'].append(col)
        null = df[col].isna().sum()
        dic['MissingValues'].append(null)
        dic['Percentage'].append((null/df.shape[0])*100)
    return pd.DataFrame(dic).sort_values('Percentage', ascending= False)
missing_values(df)

               ColumnName  MissingValues  Percentage
18         applicant_name            143    0.095333
23  days_since_last_logon            136    0.090667
19        billing_address            134    0.089333
21                 locale            134    0.089333
1         transaction_amt            130    0.086667
24          inital_amount            128    0.085333
11               card_bin            128    0.085333
4              ip_address            127    0.084667
7            phone_number            127    0.084667
22    tranaction_initiate            126    0.084000
9          billing_postal            124    0.082667
16        transaction_env            123    0.082000
13                    cvv            123    0.082000
8            billing_city            116    0.077333
15       transaction_type            116    0.077333
3       historic_velocity            115    0.076667
2     transaction_adj_amt            114    0.076000
5              user_agent            113    0.075333
10          billing_state            113    0.075333
17        EVENT_TIMESTAMP            112    0.074667
0        account_age_days            108    0.072000
12               currency            108    0.072000
20            merchant_id            107    0.071333
14        signature_image            105    0.070000
6            email_domain             90    0.060000
25            EVENT_LABEL              0    0.000000

In [8]:
# missing values are present less than 1%, So that, we will removed missing value rows
df.dropna(axis=0, inplace=True)
missing_values(df)

               ColumnName  MissingValues  Percentage
0        account_age_days              0         0.0
1         transaction_amt              0         0.0
24          inital_amount              0         0.0
23  days_since_last_logon              0         0.0
22    tranaction_initiate              0         0.0
21                 locale              0         0.0
20            merchant_id              0         0.0
19        billing_address              0         0.0
18         applicant_name              0         0.0
17        EVENT_TIMESTAMP              0         0.0
16        transaction_env              0         0.0
15       transaction_type              0         0.0
14        signature_image              0         0.0
13                    cvv              0         0.0
12               currency              0         0.0
11               card_bin              0         0.0
10          billing_state              0         0.0
9          billing_postal              0         0.0
8            billing_city              0         0.0
7            phone_number              0         0.0
6            email_domain              0         0.0
5              user_agent              0         0.0
4              ip_address              0         0.0
3       historic_velocity              0         0.0
2     transaction_adj_amt              0         0.0
25            EVENT_LABEL              0         0.0

### Extract New Features from EVENT_TIMESTAMP

In [72]:
df['event_year'] = pd.to_datetime(df['EVENT_TIMESTAMP']).dt.year
df['event_month'] = pd.to_datetime(df['EVENT_TIMESTAMP']).dt.month
df['event_day'] = pd.to_datetime(df['EVENT_TIMESTAMP']).dt.day
df['event_weekday'] = pd.to_datetime(df['EVENT_TIMESTAMP']).dt.weekday
df['event_time_hour'] = pd.to_datetime(df['EVENT_TIMESTAMP']).dt.hour
df['event_time_minutes'] = pd.to_datetime(df['EVENT_TIMESTAMP']).dt.minute
df[[col for col in df.columns if 'event' in col or 'EVENT' in col]]

,EVENT_TIMESTAMP,EVENT_LABEL,event_year,event_month,event_day,event_weekday,event_time_hour,event_time_minutes
0,2020-12-29 09:05:51,legit,2020,12,29,1,9,5
1,2021-06-22 18:05:06,legit,2021,6,22,1,18,5
2,2021-05-10 13:48:38,legit,2021,5,10,0,13,48
3,2021-03-11 07:36:40,legit,2021,3,11,3,7,36
4,2021-03-27 06:13:35,legit,2021,3,27,5,6,13
...,...,...,...,...,...,...,...,...
149995,2020-11-20 16:34:27,legit,2020,11,20,4,16,34
149996,2021-03-31 01:40:20,legit,2021,3,31,2,1,40
149997,2021-01-17 08:51:44,legit,2021,1,17,6,8,51
149998,2021-01-17 05:17:44,legit,2021,1,17,6,5,17
149999,2021-04-22 20:21:25,legit,2021,4,22,3,20,21

In [143]:
# Removing EVENT_TIMESTAMP column
df.drop('EVENT_TIMESTAMP', axis =1, inplace =True)

# Preprocessing

In [224]:
df.phone_number[:5]

0    8781115140
1    0027360139
2    9835852863
3    6788973420
4    0132041766
Name: phone_number, dtype: object

In [145]:
def phone(data):

    if '+' in data or data.count('-')==3:
        data = ''.join(data.split('-')[1:])

    elif '-' in data or '(' in data or '.' in data:
        data = data.replace('-', '')
        data = data.replace('.', '')
        data = data.replace('(', '')
        data = data.replace(')', '')

    else:
        pass
        
    if len(data)==10:
        return data
    else:
        data = data.split('x')[0]
        
        if len(data)==10:
            return data
            
        else:
            print('not valid mobile number')
    # return data
df['phone_number'] =df.phone_number.apply(lambda x: phone(x))
df['phone_number']

0         8781115140
1         0027360139
2         9835852863
3         6788973420
4         0132041766
             ...
149995    5540099294
149996    1754778512
149997    2273743408
149998    1196028479
149999    6932885737
Name: phone_number, Length: 147000, dtype: object

### User Agent Column

In [ ]:
df.user_agent[:10]

In [151]:
def browser(data):
    return data.split('/')[0]
df['browser'] =df.user_agent.apply(browser)

In [154]:
def operating_system(data):
    if '(' in data:
        d = data
        data = data[data.index('(')+1:data.index(')')]
        data =data.split(';')[0]

        if 'X11' ==data or 'Linux' in data:
            return 'Linux'
        elif 'Windows' in data or 'compatible' in data:
            return 'Windows'
        elif 'Android' in data:
            return 'Android'
        elif 'Macintosh' in data:
            return 'Macintosh'
        elif 'iPhone' in data:
            return 'iPhone'
        elif 'iPod' in data:
            return 'iPod'
        elif 'iPad' in data:
            return 'iPad'
            
        else:
            pass

df['operating_system'] =df.user_agent.apply(operating_system)

In [162]:
def search_engine(data):
    if ')' in data:
        d = data
        data = data[data.index(')')+1:]
        
        if ''==data:
            # print(data,d)
            return 'Trident'
        else:
            return data.split('/')[0]
         
    
df['search_engine'] =df.user_agent.apply(search_engine)

In [170]:
def security_level(data):
    if '(' in data:
        d = data
        data = data[data.index('(')+1:data.index(')')]
        # data =data.split(';')[0]
        if ' U;' in data:
            return 1
        else:
            return 0

df['security_level'] =df.user_agent.apply(security_level)

In [226]:
# Removing user_agent column
df.drop('user_agent', axis =1, inplace = True)

### Locale Column

In [225]:
df.locale[:5]

0    niu_NZ
1    apn_IN
2     dv_MV
3    byn_ER
4    the_NP
Name: locale, dtype: object

In [215]:
def region(data):
    return data.split('_')[1]
df['region'] =df.locale.apply(region)

In [200]:
def language(data):
    return data.split('_')[0]
df['language'] =df.locale.apply(language)

In [210]:
language_mapping = {'niu': 'Niuean', 'apn': 'Apatani', 'dv': 'Dhivehi ', 'byn': 'Bilen', 'the': 'Chitwania Tharu', 'ayc': 'Southern Aymara', 'iu': 'Inuktitut', 'sv': 'Swedish',
                    'nan': 'Min Nan Chinese', 'or': 'Odia', 'sat': 'Santali', 'uz': 'Uzbek', 'bho': 'Bhojpuri', 'pl': 'Polish', 'nds': 'Low German', 'az': 'Azerbaijani', 'mhr': 'Eastern Mari',
                    'wa': 'Walloon', 'sc': 'Sardinian', 'so': 'Somali', 'ss': 'Swati', 'ps': 'Pashto', 'lzh': 'Literary Chinese', 'id': 'Indonesian', 'yo': 'Yoruba', 'cs': 'Czech', 
                    'nn': 'Norwegian Nynorsk', 'hne': 'Chhattisgarhi', 'xh': 'Xhosa', 'nhn': 'Central Nahuatl', 'bs': 'Bosnian', 'nso': 'Northern Sotho', 'ta': 'Tamil', 'fo': 'Faroese', 
                    'szl': 'Silesian', 'sa': 'Sanskrit', 'yi': 'Yiddish', 'lg': 'Luganda', 'wo': 'Wolof', 'da': 'Danish', 'mg': 'Malagasy', 'tig': 'Tigre', 'gv': 'Manx', 'hy': 'Armenian', 
                    'ga': 'Irish', 'my': 'Burmese', 'sk': 'Slovak', 'fa': 'Persian', 'ln': 'Lingala', 'ber': 'Berber', 'pap': 'Papiamento', 'te': 'Telugu', 'mi': 'Maori', 'ms': 'Malay', 
                    'gu': 'Gujarati', 'mr': 'Marathi', 'kk': 'Kazakh', 'cy': 'Welsh', 'mn': 'Mongolian', 'el': 'Greek', 'hu': 'Hungarian', 'bo': 'Tibetan', 'st': 'Southern Sotho', 'br': 'Breton', 
                    'bn': 'Bengali', 'eo': 'Esperanto', 'de': 'German', 'es': 'Spanish', 'zu': 'Zulu', 'fil': 'Filipino', 'kn': 'Kannada', 'ml': 'Malayalam', 'cv': 'Chuvash', 'ky': 'Kyrgyz', 
                    'tl': 'Tagalog', 'ts': 'Tsonga', 'sid': 'Sidamo', 'wal': 'Wolaytta', 'ja': 'Japanese', 'uk': 'Ukrainian', 'mai': 'Maithili', 'crh': 'Crimean Tatar', 'cmn': 'Mandarin Chinese', 
                    'tg': 'Tajik', 'vi': 'Vietnamese', 'ti': 'Tigrinya', 'kw': 'Cornish', 'gl': 'Galician', 'bg': 'Bulgarian', 'km': 'Khmer', 'fur': 'Friulian', 'ast': 'Asturian', 'ik': 'Inupiaq', 
                    'gez': "Ge'ez", 'sw': 'Swahili', 'ia': 'Interlingua', 'an': 'Aragonese', 'lv': 'Latvian', 'sd': 'Sindhi', 'ca': 'Catalan', 'brx': 'Bodo', 'gd': 'Scottish Gaelic', 
                    'rw': 'Kinyarwanda', 'si': 'Sinhala', 'bem': 'Bemba', 'om': 'Oromo', 'eu': 'Basque', 'is': 'Icelandic', 'doi': 'Dogri', 'pa': 'Punjabi', 'kl': 'Greenlandic', 
                    'lt': 'Lithuanian', 'tr': 'Turkish', 'lij': 'Ligurian', 'ru': 'Russian', 'wae': 'Walser', 'et': 'Estonian', 'ak': 'Akan', 'as': 'Assamese', 'ku': 'Kurdish', 'aa': 'Afar', 
                    'tcy': 'Tulu', 'ro': 'Romanian', 'mk': 'Macedonian', 'shs': 'Shuswap', 'os': 'Ossetian', 'zh': 'Chinese', 'tt': 'Tatar', 'ce': 'Chechen', 'raj': 'Rajasthani', 'ug': 'Uyghur', 
                    'en': 'English', 'csb': 'Kashubian', 'be': 'Belarusian', 'ht': 'Haitian Creole', 'kok': 'Konkani', 'li': 'Limburgish', 'ar': 'Arabic', 'ka': 'Georgian', 'fi': 'Finnish', 
                    'se': 'Northern Sami', 'unm': 'Unami', 'ne': 'Nepali', 'lb': 'Luxembourgish', 'hi': 'Hindi', 'mt': 'Maltese', 'yue': 'Cantonese', 'sl': 'Slovenian', 'ha': 'Hausa', 
                    've': 'Venda', 'mni': 'Manipuri', 'tk': 'Turkmen', 'fr': 'French', 'ks': 'Kashmiri', 'bhb': 'Bhili', 'ur': 'Urdu', 'hr': 'Croatian', 'ig': 'Igbo', 'sq': 'Albanian', 
                    'he': 'Hebrew', 'quz': 'Quechua', 'ko': 'Korean', 'af': 'Afrikaans', 'nr': 'South Ndebele', 'ckb': 'Central Kurdish', 'ff': 'Fulah', 'am': 'Amharic', 'fy': 'Western Frisian', 
                    'tn': 'Tswana', 'pt': 'Portuguese', 'mag': 'Magahi', 'hak': 'Hakka', 'nl': 'Dutch', 'iw': 'Hebrew', 'hsb': 'Upper Sorbian', 'oc': 'Occitan', 'th': 'Thai', 'it': 'Italian', 
                    'nb': 'Norwegian Bokmål', 'dz': 'Dzongkha', 'sr': 'Serbian', 'lo': 'Lao'}

In [219]:
# Converting language code into language
df['language'] = df.language.map(language_mapping)
df.language.value_counts()

language
Hebrew           1587
Limburgish        893
Kashubian         877
Maithili          873
South Ndebele     862
                 ...
Italian           741
Swedish           740
Assamese          740
Tajik             740
Bulgarian         739
Name: count, Length: 181, dtype: int64

In [227]:
# Removing locale column
df.drop('locale', axis =1, inplace = True)

In [223]:
df

,account_age_days,transaction_amt,transaction_adj_amt,historic_velocity,ip_address,user_agent,email_domain,phone_number,billing_city,billing_postal,billing_state,card_bin,currency,cvv,signature_image,transaction_type,transaction_env,applicant_name,billing_address,merchant_id,locale,tranaction_initiate,days_since_last_logon,inital_amount,EVENT_LABEL,event_year,event_month,event_day,event_weekday,event_time_hour,event_time_minutes,browser,operating_system,search_engine,security_level,region,language
0,3371.0,2167.0,56.0,2572.0,154.68.49.124,Opera/9.81.(Windows NT 10.0; ht-HT) Presto/2.9...,perez-garza.com,8781115140,Woodsburgh,96336.0,California,40771.0,cad,D,F,U,X,Linda Wright,4684 Sharon Ranch,066-82-8795,niu_NZ,O,59.0,13646.0,legit,2020,12,29,1,9,5,Opera,Windows,Presto,0,NZ,Niuean
1,2714.0,2045.0,48.0,4517.0,39.131.125.85,Opera/9.76.(X11; Linux i686; mi-NZ) Presto/2.9...,mcneil-ortega.com,0027360139,West Kevin,78083.0,Florida,24480.0,cad,X,X,H,W,Terri Rivera,7642 Allison Ramp,669-99-9459,apn_IN,J,0.0,11930.0,legit,2021,6,22,1,18,5,Opera,Linux,Presto,0,IN,Apatani
2,6987.0,2892.0,61.0,5007.0,166.245.194.83,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.6.20) G...,davis-calderon.com,9835852863,Lorichester,83236.0,Utah,37778.0,cad,X,Q,X,X,Sarah Gray,4948 Lisa Passage,086-41-1624,dv_MV,T,83.0,7412.0,legit,2021,5,10,0,13,48,Mozilla,Linux,Gecko,0,MV,Dhivehi
3,2712.0,3040.0,28.0,6022.0,100.1.217.216,Mozilla/5.0 (Macintosh; Intel Mac OS X 10 9_3 ...,rose-lee.org,6788973420,Stephenmouth,78364.0,Virginia,55790.0,usd,G,G,C,N,Valerie Jenkins,1616 Little Camp,669-97-4021,byn_ER,M,24.0,4623.0,legit,2021,3,11,3,7,36,Mozilla,Macintosh,AppleWebKit,0,ER,Bilen
4,3598.0,2976.0,66.0,2600.0,113.156.65.245,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,nash.net,0132041766,New Brianmouth,77499.0,South Carolina,37370.0,cad,X,F,F,G,Amy Coleman,149 Harris Rapid,088-21-6329,the_NP,K,21.0,1905.0,legit,2021,3,27,5,6,13,Mozilla,Linux,Gecko,0,NP,Chitwania Tharu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,3986.0,2890.0,57.0,4544.0,92.98.51.182,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,garza-harper.org,5540099294,West Tara,34817.0,Washington,30017.0,cad,W,D,S,W,Heather Burke,63652 Kimberly Islands Apt. 674,330-78-4517,yi_US,M,99.0,6681.0,legit,2020,11,20,4,16,34,Mozilla,Windows,Trident,0,US,Yiddish
149996,5834.0,1875.0,61.0,4369.0,137.17.200.201,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.6.20) G...,henderson-rivas.com,1754778512,New Sarafurt,35879.0,Indiana,65507.0,cad,I,X,W,Z,Pamela Hunter,007 Chavez Bypass Suite 092,867-31-4925,ti_ER,I,85.0,2402.0,legit,2021,3,31,2,1,40,Mozilla,Linux,Gecko,0,ER,Tigrinya
149997,4781.0,3371.0,48.0,5135.0,97.11.159.151,Mozilla/5.0 (Macintosh; Intel Mac OS X 10 10_1...,larsen-wright.com,2273743408,Priceburgh,84167.0,Illinois,47079.0,cad,D,H,I,D,Julie Evans,76186 Anderson Ridge,120-07-6784,wa_BE,G,22.0,4113.0,legit,2021,1,17,6,8,51,Mozilla,Macintosh,Gecko,0,BE,Walloon
149998,6085.0,2306.0,59.0,4846.0,88.43.40.52,Mozilla/5.0 (iPhone; CPU iPhone OS 3_1_3 like ...,hughes-chen.com,1196028479,Rogersbury,80391.0,Oklahoma,25891.0,cad,X,U,Z,X,Joseph Hunt,7328 Wood Inlet,346-52-6342,kk_KZ,W,70.0,4531.0,legit,2021,1,17,6,5,17,Mozilla,iPhone,AppleWebKit,0,KZ,Kazakh
149999,5181.0,3148.0,68.0,4987.0,157.250.19.213,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,owens.net,6932885737,Cohenfurt,89836.0,New York,35255.0,cad,G,U,Z,Z,Dana Hernandez,63793 Matthew Springs Suite 569,319-72-0066,kk_KZ,Q,63.0,5923.0,legit,2021,4,22,3,20,21,Mozilla,iPhone,AppleWebKit,0,KZ,Kazakh